<div class="d-flex justify-content-between aign-items-center bg-white border-bottom box-shadow m-2">
  <h5 class="my-0 mr-md-auto font-weight-normal ml-5">Restaurapp</h5>
  <p class="btn btn-outline-primary nav m-2"><%= link_to "Add new", new_restaurant_path%></p>
</div>


<div class="container">
  <h1>Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <p><%= restaurant.address %></p>
  <% end %>
</div>
